* {
    margin: 0;
    padding: 0;
}

.pagina-conversor {
    background-color: #333;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
    background-color: #0e141b;  /* Cor base */
    
    /* Degradê */
    background-image: radial-gradient(circle at 50% 50%, #19232d 0%, #0a0e13 70%, #05080c 100%);
    background-attachment: fixed; /* Efeitos importantes para o fundo fixo*/
    background-size: cover;

    color: #e0e0e0;
}

.conversorcaralho {
    flex: 1;
}

.texto-conversor {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;

    gap: 15px;
}