/* Body da Página */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
}

.nav-bar {
    background-color: black;
    padding: 10px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.fundo-luzes {
    background: #0a0a0f; /*Fundos*/

    position: relative;
    overflow: hidden;
    min-height: 100vh; /*Ocupar a tela inteira*/

}

/*Luz Roxa*/

.fundo-luzes::before {
    content: '';
    width: 600px;
    height: 600px;

/*Cor da luz*/
    background: radial-gradient(
        circle,
        rgba(108, 99, 255, 0.3) 0%, 
        transparent 70%
    );

/*Posicionamento*/

    position: absolute;
    top: -200px;
    right: -200px;
    border-radius: 50%;

/*Efeito de desfalque*/
    filter: blur(80px);
    z-index: 0;
}

.conteudo {
    position: relative;
    z-index: 1;
    color: #fff;
}


