/* Body da Página */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #11171d;
    /*Degradê radial*/
    background-image: radial-gradient(circle at 50% 50%, #202831 0%, #11171d 60%, #040608 100%);
    /*Fundo cobrindo as porra tudo*/
    background-attachment: fixed;
    background-size: cover;

    /*Cor do texto para contraste*/
    color: #e0e0e0
}

/*Hero de cima, texto.*/

.hero-download {
    width: 100%;
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
    margin-top: 80px;
}

.hero-download h1 {
    font-size: 60px;
    color: white;
}

.hero-download p {
    color: #B6B6B6;
    font-size: 20px;
    margin-top: 15px;
}

/* Caixa Disgraça */

.caixa-disgraça {
    width: 800px;
    display: flex;
    gap: 15px;

    margin: 40px auto;
}

.caixa-disgraça input {
    flex: 1;
    padding: 18px;                                     
    background: #121212;

    border: none;
    color: white;
    border-radius: 15px;

    outline: none;
}

.caixa-disgraça button {
    padding: 18px 35px;
    background: #786cff;
    color: white;

    border: none;
    border-radius: 15px;
    cursor: pointer;
}