/* Body da Página */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #11171d;
    /*Degradê radial*/
    background-image: radial-gradient(circle at 50% 50%, #202831 0%, #11171d 60%, #040608 100%);
    /*Fundo cobrindo as porra tudo*/
    background-attachment: fixed;
    background-size: cover;

    /*Cor do texto para contraste*/
    color: #e0e0e0
}

.nav-bar {
    background-color: black;
    padding: 10px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

#menuindx {
 left: 35px;
}

.conteudo {
    position: relative;
    z-index: 1;
    color: #fff;
}


