/*Parte Index*/
#logo {
    width: 120px;
    height: auto;
    transform: translate(-10%, -5px);
}

#logo-link {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    display: flex;
    align-items: center;
    
    width: fit-content;
    height: fit-content;
}
/*Header*/
header {
    position: relative; 
    height: 80vh;
    background-color: transparent;

    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    padding: 30px 50px 0px 50px;
    width: 100%;
    overflow: hidden;
}

#menuindx,
#omenu {
    position: relative;
    z-index: 2; 
}

#menuindx {
    background: none;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;

    display: flex;
    align-items: center;
    gap: 8px;
    margin: 0;
    padding: 10px 15px;

    border-radius: 10px;
    transition: 0.3s;
    margin-top: -7px;
}

#menuindx:hover {
    color: black;
}

/*Efeito do caralho da Sombra no Mouse*/
#menuindx:hover {
    background: rgba(255, 255, 255, 0.15);
}
/*Parte do Vídeo*/
#notebook {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}
/*Barra do topo onde vai ficar os elementos*/
.nav-bar {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 50px;

    display: flex;
    align-items: center;

    padding: 0 50px;
    margin-top: -5px;
}

#omenu {
    display: none;

    position: absolute;
    top: 60px;
    left: 90px;

    flex-direction: column;
    gap: 15px;

    /*Fundo do Menu*/
    background: rgba(30, 30, 30, 0.95);
    width: 220px;
    border-radius: 12px;
    padding: 15px;
}

/*Efeitos*/
#omenu a{
    color: white;
    text-decoration: none;

    display: block;

    padding: 12px;

    border-radius: 8px;
}

#omenu a:hover {
    background-color: #3d3d3d;
}
/*Hero*/
#hero {
    position: absolute;
    top: 70%;
    left: 120px;
    
    transform: translateY(-50%);
    z-index: 2;
}

#hero h1{
    color:white;
    text-shadow: 
    0 0 10px rgba(0, 0, 0, .8),
    0 0 20px rgba(0, 0, 0, .6);
}

#botaohero {
    display: inline-block;
    margin-top: 35px;
    padding: 15px 30px;

    background: rgba(255,255,255,.2);
    color: white;
    text-decoration: none;

    border-radius: 12px;
    backdrop-filter: blur(8px);
}

/*Parte Informações*/
#mais-info {
    background-color: white; 
    color: black;
    padding: 80px 20px;
    text-align: center;
}

#mais-info h2 {
    font-size: 28px;
    margin-bottom: 20px;
    letter-spacing: 1px;
    color: black;
}

#mais-info p {
    font-size: 16px;
    line-height: 1.6;
    max-width: 800px;
    margin: 0 auto 20px auto;
    color: black;
}

/*Parte Downloads*/

/*Body*/
body {
    margin: 0;
    background-color: white;
    font-family: sans-serif;
}
